/*
    styling to-do's if we have time 

    add a footer
    figure out how to tile better (e.g. heights of meals, no margin)

*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*========================================================*/

body {
	font-family: "Roboto";
	font-weight: 300;
	font-size: 18px;
}

#headerBar {
	width: 100%;
	height: 250px;
	background-color: #F2D03A;
}
#headerBar2 {
	width: 100%;
	height: 2px;
	background-color: #62C4B4;
}

#footerBar {
	width: 100%;
	height: 100px;
	background-color: #F2D03A;
}
#footerBar2 {
	width: 100%;
	height: 10px;
	background-color: #62C4B4;
}

.headerText {
	padding-top: 10px;
	color: white;
	font-weight: 700;
	font-size: 70px;
}

#mycanvas {
	width: 278px;
	height: 370px;
	display: inline-block;
	margin-left: 0px;
}

#botluckTitle {
	width: 391px;
	height: 206px;
	background-image: url("/static/assets/title.png");
	display: inline-block;
	vertical-align: top;
	margin-top: 40px;
	margin-left: -20px;
}

.wrapper {
	position: relative;
	margin-top: -50px;
	width: 800px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	/*background: red;*/
}

#mainCol {
	display: inline-block;
	margin-right: 50px;
	width: 480px;
	/*padding-right: 45px;
	border-right: thin solid #F2D03A;*/
	/*background-color: #faf4c0;*/
}

h1 {
	width: 100%;
	margin-top: 120px;
	margin-bottom: 0px;
	/*background-color: #CCC;*/
	text-transform: capitalize;
	font-size: 36px;
}

h2 {
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 30px;
	padding-bottom: 20px;
	color: #62C4B4;
}

h3 {
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #62C4B4;
}

.newKitchenItem {
	padding: 15px;
	background-color: #faf4c0;
}

.formBlock {
	display: inline-block;
	margin-left: 20px;
	margin-bottom: 5px;
}

.friend {
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 5px;
}

.formBlock:nth-child(1) {
	margin-left: 0;
}

.date {
	display: inline-block;   /*this might break*/
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 5px;
	margin-top: 9px;
	margin-right: 5px;
}

.date.bringing {
	margin-top: 15px;
}

.icon {
	display: inline-block;
	vertical-align: top;
	width: 69px;
	height: 48px;
	background-image: url("/static/assets/invitation-icon.png");
}

.invitation {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: thin solid #F2E8BF;
}

.invitation-top {
	border-bottom: thin solid #F2E8BF;
}

.invitation .content {
	display: inline-block;
	vertical-align: top;
	margin-left: 15px;
	width: 300px;
	vertical-align: middle;
}

.meal, .friendContributions {
	display: inline-block;
	padding: 5px 10px;
	margin-right: 18px;
	width: 200px;
	background-color: #faf4c0;
	vertical-align: top;
	padding-bottom: 10px;
}

.contribution {
	display: inline-block;
	padding: 5px;
	width: 50px;
	vertical-align: top;
	padding-bottom: 10px;
}

.photo {
	display: inline-block;
	background-color: #DDD;
	vertical-align: bottom;
}

 .photo img {
	width: 100%;
	height: 100%;
}

.meal .photo {
	width: 200px;
	height: 100px;
}

.contribution .photo {
	width: 50px;
	height: 50px;
}

.friendRow {
	background-color: #faf4c0;
	padding: 5px 5px;
	padding-top: 5px;
	margin-bottom: 20px;
}

.ingredient,.utensil {
	display: inline-block;
	padding: 5px;
	width: 75px;
	vertical-align: top;
	padding-bottom: 10px;
}

.mealDetail .photo {
	width: 125px;
	height: 100px;
}

.friend .photo, .ingredient .photo,.utensil .photo {
	width: 75px;
	height: 75px;
	vertical-align: top;
	margin-top: 10px;
}

.meal .caption {
	margin-top: 10px;
	margin-bottom: 15px;
	font-weight: 400;
	/*height:40px;*/
}

.caption {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 15px;
	margin-bottom: 5px;
}

.contribution .photo {
	width: 50px;
	height: 50px;
}

.contribution .caption {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: 300;
	text-transform: lowercase;
	/*height:40px;*/
	text-align: center;
}

#leftnav {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	/*background-color: #fbf2c9;*/
	width: 200px;
	padding-top: 30px;
	padding-bottom: 50px;
	/*border-left: thin solid #F2D03A;*/
	padding-left: 50px;
	border-left: thin solid #F2D03A;
}

#leftnav .photo {
	width: 100px;
	height: 100px;
}

#leftnav .caption {
	display: inline-block;
}

#karmaBadge {
	display: block;
	width: 200px;
	height: 200px;
	background-image: url("/static/assets/karma-points-badge.png");
	font-size: 100px;
	font-weight: 700;
	line-height: 200px;
	color: #F2D03A;
}


#columnEnd, #columnEndInvite {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#pageEnd {
	height: 50px;
}

#meal-name-input, #username-input, #password-input, #loginBttn, #signUpBttn, #createNewUserBttn, #new-username-input, #new-name-input, #new-password-input, #ingredient-name, #ingredient-qty, #unit, #ingredient-price, #utensil-name, #utensil-qty {
	font-family: "Roboto";
	font-size: 14px;
	line-height: 24px;
	width: 200px;
}

#ingredient-qty, #utensil-qty {
	width: 30px;
}

#unit {
	width: 70px;
	height: 30px;
	margin-top: 2px;
}

#ingredient-price {
	width: 70px;
}

#loginBttn, #signUpBttn, #createNewUserBttn {
	color: #000000;
  	background-color: #F2D03A;
  	border-radius: 1px;
  	-moz-border-radius: 1px;
  	border: thin solid white;
  	
  	/*display: block;*/
	width:125px;
	height: 40px;
	margin-right: 8px;
	padding-top: 5px;
}

button.navButton, #loginBttn, #signUpBttn, #createNewUserBttn, #add-ingredient, #cancel-ingredient, #add-utensil, #cancel-utensil {
	color: #000000;
  	background-color: #F2D03A;
  	border-radius: 1px;
  	-moz-border-radius: 1px;
  	border: thin solid white;
  	font-family: "Roboto";
  	margin-top: 18px;
}

.navButton.hidden {
	visibility: hidden;
}

.login-form {
	display: inline-block;
	margin-bottom: 20px;
}

#signup-form {
	margin-left: 100px;
}

.ingredient button.navButton,.utensil button.navButton {
	background-color: #DDD;
	margin: 10px auto;
}

.invitation button.navButton, .meal button.navButton {
	/*display: inline-block;*/
	width:50px;
	margin-left: 20px;
	height: 25px;
}

#leftnav button.navButton, #columnEnd button.navButton, button.navButton.add, .friends .navButton {
	display: block;
	width:200px; 
	font-family: "Roboto";
	font-weight: 300;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
}

#columnEnd button.navButton {
	width: 300px;
	margin-top: 50px;
	margin-bottom: 50px;
}

#columnEnd button.navButton.longer {
	width: 350px;
	margin-top: 50px;
}

.columnEnd {
	height: 50px;
}

.right {
	text-align: right;
}

#columnEndInvite button.navButton {
	display: inline-block;
	font-size: 20px;
	font-weight: 300;
	width: 180px;
	margin-top: 50px;
	margin-left: 10px;
	margin-right: 10px;
}

select {
	font-family: "Roboto";
	font-weight: 300;
	font-size: 16px;
}

.friends .navButton {
	font-size: 14px;
	width: 150px;
	margin-left: 0;
	margin-top: 5px;
}

.mealDetail button {
	width:100px; 
	/*margin-left: 20px;*/
	height: 25px;
	margin-top: 10px;
}

button.navButton.add {
	width: 200px;
	/*margin-left: 50px;*/
	margin-bottom: 40px;
}

.navButton.current {
	background-color: #62C4B4;
	color: white;
	border: thin solid #F2D03A;
}

button.navButton:not(.current):hover {
	background-color: white;
	color: #F2D03A;
	border: thin solid #F2D03A;
}

button:hover, #mycanvas:hover, #botluckTitle:hover {
	cursor: hand; cursor: pointer;
}

.friend {
	width: 75px;
	display: inline-block;
	margin-right: 20px;
	vertical-align: top;
	/*background-color: red;*/
}

.friend .photo {
	width: 75px;
	height: 75px;
}

.friend .caption {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 400;
	text-transform: lowercase;
	/*height:40px;*/
	text-align: center;
}

.recipe {
	display: inline-block;
	padding: 0;
	margin-bottom: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

.recipe {
	width: 100px;
	overflow: hidden;
	text-align: center;
}
.recipe .caption {
	text-transform: none;
	font-weight: 300;
}

.recipe div {
	text-align: center;
}

.recipe .navButton {
	margin-top: 0;
	/*margin-bottom: 15px;*/
}

.recipe:hover {
	background-color: #b8e4dd;
}

.center {
	/*margin: 0 auto;*/
}

button.navButton.like {
	color: #000000;
	background: #F2D03A url("/static/assets/like.png") no-repeat left top;
	padding-left: 30px;
}