/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*========================================================*/

body {
	font-family: "Roboto";
	font-weight: 300;
	font-size: 18px;
}

#headerBar {
	width: 100%;
	height: 300px;
	background-color: #F2D03A;
}

.headerText {
	padding-top: 100px;
	color: white;
	font-weight: 700;
	font-size: 70px;
}

.wrapper {
	position: relative;
	margin-top: -50px;
	width: 800px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	/*background: red;*/
}

#mainCol {
	display: inline-block;
	margin-right: 50px;
	width: 500px;
	/*background-color: #faf4c0;*/
}

h1 {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 30px;
	/*background-color: #CCC;*/
	font-size: 36px;
}

h2 {
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 40px;
	padding-bottom: 30px;
}

h3 {
	
}

.invitation {
	padding-top: 20px;
	padding-bottom: 20px;
	/*border-top: thin solid #F2E8BF;*/
	border-bottom: thin solid #F2E8BF;
}

.invitation-top {
	border-bottom: thin solid #F2E8BF;
}

.meal {
	display: inline-block;
	padding: 5px 10px;
	margin-right: 20px;
	width: 200px;
	/*height: 200px;*/
	background-color: #faf4c0;
	vertical-align: top;
	padding-bottom: 10px;
}


#leftnav {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	/*background-color: #fbf2c9;*/
	width: 200px;
	padding-top: 30px;
	padding-bottom: 50px;
	padding-left: 30px;
	border-left: thin solid #F2D03A;
}

#pfPhoto {
	display: inline-block;
	background-color: #CCC;
	width: 100px;
	height: 100px;
}

.mealPhoto {
	display: inline-block;
	background-color: #DDD;
	width: 200px;
	height: 100px;
}

#pfName {
	display: inline-block;
}

#karmaBadge {
	display: block;
	width: 200px;
	height: 200px;
	background-image: url("../assets/karma-points-badge.png");
}

.icon {
	display: inline-block;
	vertical-align: top;
}

.invitation .content {
	display: inline-block;
	vertical-align: top;
	margin-left: 15px;
	width: 300px;
}

button.details {
	/*display: inline-block;*/
	width:50px; 
	height: 25px;
	color: #000000;
  	background-color: #F2D03A;
  	border-radius: 1px;
  	-moz-border-radius: 1px;
  	border: none;
  	font-family: "Roboto";
  	margin-left: 20px;
  	margin-top: 18px;
}

.date {
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 5px;
	margin-top: 9px;
	margin-right: 5px;
}

.mealTitle {
	margin-top: 10px;
	margin-bottom: 20px;
	font-weight: 400;
	/*height:40px;*/
}


button.navButton {
	display: block;
	width:200px; 
	/*height: 25px;*/
	font-family: "Roboto";
	font-weight: 300;
	font-size: 20px;
	text-align: center;
	color: #000000;
  	background-color: #F2D03A;
  	border-radius: 1px;
  	-moz-border-radius: 1px;
  	border: none;
  	margin-top: 18px;
}

.contributions {
	display: inline-block;
}

.meal .date {
	/*vertical-align: top;*/
}

.columnEnd {
	height: 50px;
}

.right {
	text-align: right;
}